.keypadContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    margin-bottom: 1rem;
}

.bottomContainer {
    bottom: 10px;
    position: fixed;
    width: 100%;
}

.key {
    --border-radius: 50%;
    aspect-ratio: 1;
    transition: --ion-color-base 0.1s;
}

.inputDisplay {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    min-height: 2.5rem;
    min-width: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: rgba(127,127,127,0.2);
    transition: background-color 0.2s;
    padding: 8px;
    border-radius: 9px;
    cursor: text;
    user-select: all;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.2);
    margin-top: 0px;
    margin-bottom: 1rem;
}

.inputDisplay:hover {
    background-color: rgba(127,127,127,0.3);
}

.inputDisplay:active {
    background-color: rgba(127,127,127,0.1);
}

.inputDisplay::selection {
    background-color: rgba(255,255,255,0.2);
}