.container {
    bottom: 10px;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    margin-bottom: 1rem;
}

.key {
    --border-radius: 50%;
    aspect-ratio: 1;
    transition: --ion-color-base 0.1s;
}

.ipAddress {
    position: fixed;
    left: 0px;
    pointer-events: none;
    bottom: 0px;
    opacity: 0.25;
    padding-left: 2px;
    -webkit-user-select: none;
    user-select: none;
}