.keypadContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
}

.bottomContainer {
    bottom: 10px;
    position: fixed;
    width: 100%;
}

.key {
    --border-radius: 50%;
    aspect-ratio: 1;
}

.inputDisplay {
    text-align: center;
    font-size: large;
}
